@import "tailwindcss";

@theme {
  /* COLORS */
  --color-brand: #B1E4E3;
  --color-brand-dark: #8BCBC9;

  /* FONTS */
  --font-logo: var(--font-alfa), cursive;
  /* The new Logo Font */
  --font-body: var(--font-dm-sans), sans-serif;

  /* SHADOWS */
  --shadow-hard: 4px 4px 0px 0px #0F172A;
  --shadow-hard-hover: 6px 6px 0px 0px #0F172A;

  /* BACKGROUND (50% Opacity) */
  /* We use rgba to fade the colors slightly */
  --image-swirl: repeating-radial-gradient(circle at 50% 100%,
      rgba(224, 247, 250, 0.5) 0%,
      rgba(224, 247, 250, 0.5) 10%,
      rgba(178, 235, 242, 0.5) 10%,
      rgba(178, 235, 242, 0.5) 20%);
}

body {
  background-color: var(--color-brand);
  font-family: var(--font-body);
  background-image: var(--image-swirl);
  background-attachment: fixed;
  color: #0F172A;
}

@utility text-stroke-2 {
  -webkit-text-stroke: 1.5px black;
  /* Slightly thinner for better readability */
}